@font-face {
	font-family: "Aeonik Pro";
	src: url("../fonts/AeonikPro-Regular.woff2") format("woff2"),
		url("../fonts/AeonikPro-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	font-stretch: normal;
}

@font-face {
	font-family: "Aeonik Pro";
	src: url("../fonts/AeonikPro-Medium.woff2") format("woff2"),
		url("../fonts/AeonikPro-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	font-stretch: normal;
}

@font-face {
	font-family: "Aeonik Pro";
	src: url("../fonts/AeonikPro-Bold.woff2") format("woff2"),
		url("../fonts/AeonikPro-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	font-stretch: normal;
}

.font-light {
	font-weight: 300 !important;
}

.font-regular {
	font-weight: 400 !important;
}

.font-medium {
	font-weight: 500 !important;
}

.font-bold {
	font-weight: 700 !important;
}

.font-black {
	font-weight: 900 !important;
}
