/*************
 *** THEME ***
 *************/
.visible-l {
	display: block;
}

/***************************
 *** HEADER / NAVIGATION ***
 ***************************/
.hamburger {
	margin-right: 30px;
}

/**************
 *** PAGE TEMPLATES
 **************/
 .page-template {
	&-contact {
		.hero {
			&-inner {
				padding: 70px 0;
			}
		}
	}
 }
